<a [routerLink]="['/']">Home</a><br/>
<a [routerLink]="['/login']">Login</a><br/>
<p></p>
<a [routerLink]="['/product']">Product Detail</a><br/>
<a [routerLink]="['/shipping']">Shipping Details</a><br/>
<a [routerLink]="['/luxury']">Luxury Items</a><br/>
<a [routerLink]="['/myData']">Data</a><br/>
<p></p>
<a [routerLink]="['', { outlets: { aux: 'chat' } }]">Open Chat</a><br/>
<a [routerLink]="['', { outlets: { aux: null } }]">Close Chat</a><br/>
<p></p>
<div *ngIf="isNavigating">
  Loading...
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<router-outlet></router-outlet>
<router-outlet name="aux"></router-outlet>